.pink-button{
	background-color: pink;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
}

.purple-button{
	background-color: #B0A5B6;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
}

.pink-button:hover{
	background-color: #A46578;
}

.purple-button:hover{
	background-color: #413347;
}

@media (max-width: 720px){
	.purple-button{
		padding: 12px 18px;
	}

}
@media (max-width: 540px){
	.purple-button{
		padding: 10px 15px;
	}
}
	
